@import "tailwindcss";

@theme {
    --color-primary: #6C4EFF;
}

@font-face {
    font-family: 'JetBrains_Mono';
    src: url('/src/assets/fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    /* supports full variable weight range */
    font-style: normal;
    font-display: swap;
}

/* Italic variable font */
@font-face {
    font-family: 'JetBrains_Mono';
    src: url('/src/assets/fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Optionally set it as the default font */
body {
    font-family: 'Poppins', sans-serif;
}